{% extends "base.html" %}
{% block head %}{% endblock %}

{% block body %}
<div class='container'>
<div class="row d-flex justify-content-center " style="margin-top: 200px;">
<div class="card m-2" style="width: 34rem;">
    <img src="/static/detection_result/{{filename}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p style="text-align: center;" class="card-text">DETECTED PLATE</p>
    </div>
  </div>

  <div class="card m-2" style="width: 34rem;">
    <img src="/static/Output/{{filename}}" class="card-img-top" alt="...">
    <div style="text-align: center;" class="card-body">
      <p class="card-text">RECOGNIZED TEXT</p>
    </div>
  </div>
</div>
</div>


{% endblock %}